mixin input-ms(placehold, text='', classForInput='', idForInput='')
    .gc-input.gc-input_ms&attributes(attributes)
        input(type="text" placeholder=placehold value=text class=classForInput id=idForInput)

mixin input-material(placehold, text='', classForInput='', idForInput='')       
    .gc-input.gc-input_material&attributes(attributes)
        input(type="text" placeholder=placehold value=text class=classForInput id=idForInput)
        //- span= placehold